body,
html {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .card {
  position: relative;
  overflow: hidden;
}
body .card img {
  transition: transform 1s;
}
body .card:hover img {
  transform: translate(150px, -150px) scale(2);
}
body .card:hover .box2 {
  left: calc(50% - 1px);
  top: calc(50% - 1px);
  opacity: 1;
  transition: opacity 0.5s, left 1s, top 1s;
}
body .card:hover:after {
  opacity: 1;
  transition: opacity 1s;
}
body .card .box2 {
  opacity: 0;
  transition: opacity 0s, left 0s, top 0s;
}
body .card:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.4);
  transition: opacity 0s;
}
body .card div {
  border: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  width: 40%;
  height: 40%;
  margin: 0px;
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  top: 10%;
  display: flex;
  color: white;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}
